body {
  background: #e1ecf2;
}
/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
section {
  margin: 30px;
}
.title {
  display: inline-block;
  color: #11101d;
  font-size: 35px;
  font-weight: 500;
  margin: 20px 20px 20px 40px;
}
/*  */
.tabs {
  background-color: #f1f1f3;
}
.mainDiv {
  margin: 40px 0 0 90px;
}

.tabs button {
  padding: 10px 20px 38px 20px;
  background-color: #f1f1f3;
}
.tabs :first-child {
  background-color: #1db1af;
}
.addUserSection {
  background-color: #f4f0f0;
  display: flex;
  width: 1000px;
  height: 100px;
  padding: 20px;
}
.search-data {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 6px;
  font-weight: bold;
  width: 70%;
  height: 45px;

  background-color: #ffffff !important;
}

.search-data input {
  border: none;
  border-radius: 0px;
  outline: none;
  height: 100%;
  width: 80%;
}
.addUserSection button {
  margin-left: 10px;
  background-color: #1a73e8; /* Green */
  border: none;
  color: white;
  padding: 7px 20px 43px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.Student-table {
  width: 100%;
  background-color: #ffffff !important;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 255, 0.2);
}
.Student-table td,
.Student-table th {
  padding: 8px;
}

.Student-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.Student-table tr:hover {
  background-color: #ddd;
}

.Student-table tr {
}
.Student-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ffffff;
  color: black;
}
